@inject SignInManager<ApplicationUser> signInManager

@model List<MenuItem>

<style>
    .navbar-nav .nav-link, .dropdown-menu .dropdown-item {
        cursor: pointer;
        transition: color 0.3s;
    }


        .navbar-nav .nav-link:hover, .dropdown-menu .dropdown-item:hover {
            color: #FF5733;
        }

    .nav-link.active {
        font-weight: bold;
    }

</style>

<script>
    $(document).ready(function () {
        $('.custom-dropdown').hover(function () {
            $(this).find('.dropdown-menu').show();
        }, function () {
            $(this).find('.dropdown-menu').hide();
        });
    });
</script>

@if (signInManager.IsSignedIn(User))
{
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        @if (!User.HasClaim("FirstTimeLogin", "True"))
        {
            <a class="navbar-brand" asp-controller="home" asp-action="index">
                <img src="~/images/home.png">
            </a>
        }
        <div class=" navbar-collapse" id="main_nav">
            <ul class="navbar-nav">
                @if (!User.HasClaim("FirstTimeLogin", "True"))
                {
                    @foreach (var menuItem in Model.Where(m => m.ParentMenuItemId == null)) // Top-level menu items
                    {

                        @if (User.IsInRole("Admin") || menuItem.Name.ToLower() != "manage")
                        {
                            <li class="nav-item custom-dropdown">
                                <a class="nav-link" href="@menuItem.Url">@menuItem.Name</a>
                                @if (menuItem.InverseParentMenuItem.Any()) // Check for sub-items
                                {
                                    <ul class="dropdown-menu fade-up">
                                        @foreach (var subItem in menuItem.InverseParentMenuItem) // Second-level menu items
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link" href="@subItem.Url">@subItem.Name</a>
                                                @if (subItem.InverseParentMenuItem.Any()) // Check for third-level items
                                                {
                                                    <ul class="dropdown-menu fade-up">
                                                        @foreach (var thirdLevelItem in subItem.InverseParentMenuItem) // Third-level menu items
                                                        {
                                                            <li class="nav-item">
                                                                <a class="nav-link" href="@thirdLevelItem.Url">@thirdLevelItem.Name</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    }
                }
            </ul>
            <ul class="navbar-nav ms-auto">
                @if (signInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <form method="post" asp-controller="account" asp-action="logOut">
                            <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                Logout @User?.Identity?.Name
                            </button>
                        </form>
                    </li>
                }
            </ul>
        </div>
    </nav>
}
